# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# credenziali
# setting.json

# config
/config.json
/setting.json

# Node artifact files
__pycache__/

# venv folder
venv/
env/
py_bin_env/

# logs folder
logs/

#pyinstaller
build/
dist/

# alcuni file specifici
appsetting.json
opzioni_persistence.pkl


# Compiled Python bytecode
*.py[cod]

# Log files
*.log

.DS_Store
/test.html